# Entornos virtuales
.venv/
../.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Django local
*.log
db.sqlite3
*.sqlite3
staticfiles/
media/

# Sistema/editor
.vscode/
.idea/
.DS_Store

# Variables privadas
.env
